$lgray: #373D45;
$dgray: #2B3038;
$primary-color: #FFD83C;


* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
}

.heading,h1,h2,h3,h4,h5,h6,
.h-font {
    font-family: 'Fira Sans Condensed', sans-serif;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

.heading {
    margin-bottom: 50px;
    color: $primary-color;
}

.section {
    padding: 90px 0;
}

.text-primary {
    color: $primary-color !important;
}

.btn {
    border-radius: 0 !important;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: #1F1F1F !important;
    font-size: 20px;
    font-weight: 500;
}

.first-screen {
    height: 100vh;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.header {
    background-color: $lgray;
    padding: 30px 0;
    color: #fff;
}

.header-contacts {
    display: flex;
    gap: 25px;

    a {
        color: $primary-color;
    }
}

.contact-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.contact-icon {
    svg {
        fill: $primary-color;
        width: 16px;
    }
}

.phones-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.phone-icon {
    svg {
        fill: $primary-color;
        width: 64px;
        height: 64px;
    }
}

.header-social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;

    svg {
        fill: #E0E0E0;
        width: 16px;
        height: 16px;
    }
}

.header-contacts-group {
    div:not(:last-child) {
        margin-bottom: 10px;
    }
}

.menu-container {
    background-color: $dgray;
}

.main-menu {
    display: flex;

    a {
        padding: 15px;
        color: #fff;

        &:hover {
            background-color: lighten($dgray, 2%);
            color: $primary-color;
        }
    }
}

.main-picture {
    background-image: url(../images/main-picture.jpg);
    background-repeat: no-repeat;
    flex: 1;
}

#services,
#about-us,
.footer {
    background-color: $lgray;
}

.about-intro {
    color: #F2F2F2;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 30px;
}

.about-text {
    font-size: 18px;
    color: #E0E0E0;
    line-height: 28px;

    p {
        margin-bottom: 30px;
    }
}

.service-item {
    text-align: center;
    background-color: $dgray;
}

.service-image-holder {
    height: 280px;
    background-color: #DBDCDD;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
    }
}

.service-title {
    color: #DBDCDD;
    padding: 20px 5px;
    font-size: 20px;
    font-weight: 500;
}

#benefits {
    background-color: $primary-color;
    position: relative;
    padding-top: 55px;
    padding-bottom: 0;
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.benefit-text {
    font-size: 15px;
}

.benefit-number {
    @extend .h-font;
    font-size: 48px;
    font-weight: 600;
}

.leave-order {
    background-color: $dgray;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 45px 40px;
    position: relative;
    z-index: 1;
    margin-bottom: -69px;
    margin-top: 55px;
}

.leave-form-text {
    line-height: 24px;
}

#reviews {
    background-color: $dgray;
}

.footer {
    color: #BDBDBD;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.footer-right-container {
    display: flex;
    gap: 90px;
}

.footer-socials {
    display: flex;
    gap: 45px;
}

.social-link {
    display: flex;
    align-content: center;
    color: #fff;

    svg {
        width: 16px;
        margin-right: 15px;
        fill: #fff;
    }

    &:hover {
        color: $primary-color;

        svg {
            fill: $primary-color;
        }
    }
}

.footer-social-item {
    margin-bottom: 15px;
}

.footer-company-title {
    font-size: 22px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 10px;
}

.footer-contacts {
    a {
        color: $primary-color;
    }

    .contact-link {
        color: #BDBDBD;

        &:hover {
            color: #fff;
        }
    }

    div {
        margin-bottom: 10px;
    }
}

.main-goal {
    color: #fff;
    margin-bottom: 20px;
}

.copyright {
    font-size: 14px;
    color: #C9C9C9;

    a {
        color: inherit;

        &:hover {
            color: $primary-color;
        }
    }
}

